// COLORS
$primary-color: #36d1dc;
$secondary-color: #5b86e5;
$font-family: "Montserrat", sans-serif;

$light-white: #e5e5e5;
$white-color: #ffffff;
$android-color: #32ba6f;
$ios_color: #009cfa;
$itch_io_color: #ff5c5b;
$dark-grey: #030303;
$hero-primary-color: #27bce6;
$hero-secondary-color: #37c2af;
$about-me-primary-color: #27a6bd;
$about-me-secondary-color: #178576;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
